.header--container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    background-color: #ada0aa;
    position: fixed;
    top: 0;
    left: 0;
}

.logo--self {
    width: 15%;
}

.logo--container {
    width: 50%;
}

.nav--container {
    width: 50%;
}

.nav--items {
    padding: 1rem;
    color: black;
    position: relative;
}

.nav--items:hover {
    color: #646cff;
}

.nav--items::before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: -100%;
    left: 0;
    transition: .5s;
}

.nav--items:hover::before {
    bottom: 0;
    background-color: #646cff;
    transition: .5s;
}

.sticky {
    position: absolute;
    top: -100%;
    transition: .4s;
}